# J.A.R.V.I.S v6.0 Requirements

# Spracherkennung & TTS
SpeechRecognition==3.10.0
pyttsx3==2.90

# Audio
sounddevice==0.4.6
numpy>=2.0.0

# GUI
PyQt5==5.15.9

# System
psutil>=5.9.6

# Builder
pyinstaller>=6.0.0

# Utility
requests>=2.31.0
